.footer {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 100%;
  font-size: 12px;
}

.footer a {
  color: hsl(228, 45%, 44%);
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 300px;
  padding: 16px;
  background-color: hsl(0, 0%, 100%);
  justify-content: center;
  box-shadow: 0 0 5px 5px hsl(212, 45%, 89%);
}

.content h1 {
  font-size: 23px;
  padding-top: 5px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  text-align: center;
}

.content p {
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 24px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
}

.page {
  position: relative;
  font-family: "Outfit";
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}
